# Ignore model weights
models/yolov8_player_ball.pt

# Ignore large video files
videos/*.mp4

# Ignore compiled Python bytecode
__pycache__/
*.py[cod]

# Ignore macOS system files
.DS_Store

# Ignore generated outputs (optional)
outputs/

